.lilita-one-regular {
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f3ed;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #fde7a4;
    color: black;
    border: solid black 2px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
  }
  
  section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  }
  
  h2 {
    color: #fad873;
    margin-top: 0;
    font-family: "Lilita One", sans-serif;
  }


  h3 {
    color: #fde7a4;
    margin-top: 0;
    font-family: "Lilita One", sans-serif;
  }
  
  p{
    text-align: justify;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-radius: 8px;
  }

  table:hover {
    background-color: rgb(255, 250, 225);
  }
  
  table, th, td {
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-radius: 8px;
    text-align: justify;
  }
  
  th {
    background-color: #fde7a4;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    text-align: justify;
  }

  footer {
    background-color: #fde7a4;
    color: black;
    border: solid black 2px;
    border-radius: 8px;
    text-align: center;
  }

  .foot {
    max-width: 850px;
    height: 140px;
    margin: 0 auto;
    padding: 15px;
  }

.video1 iframe{
    border: solid  #fde7a4;
    border-radius: 9px;
}